
.box {
  position: absolute;
  left: 30px;
  top: 180px;
  width: 200px;
  height: 160px;
  padding: 30px 20px;
  background: rgb(54, 50, 50);
  border-radius: 30px;
  }

p{
    color: white;
    font-family: arial;
    font-size: x-large;
    text-align: center;
}
body{
    background-color: rgb(240, 229, 229);
}

.col-img1 {
    position: absolute;
    display: inline;
    left: 100px;
    top: 400px;
    border-radius: 30px;
}
.col-img2 {
    position: absolute;
    display: inline;
    left: 500px;
    top: 400px;
    border-radius: 30px;
}
.col-img3 {
    position: absolute;
    display: inline;
    left: 1000px;
    top: 400px;
    border-radius: 30px;
}
footer{
    position:absolute;
   bottom:0;
   width:100%;     /* largeur sur la page  */
   height:60px;   /* hauteur Height of the footer */
   background:rgb(69, 168, 99);
}
.header{
    top: 0px;
    float: right;
}
header{
    position: absolute;
    width:100%;     /* largeur sur la page  */
    height:130px; 
    background: rgb(48, 45, 45);
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: match-parent;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }